[cluster]
bind-ips = {{ inventory_hostname }}
cluster-ips = 
{%- for ip in groups.cluster %}
  {%- if ip != inventory_hostname -%}
    {{ ' ' + ip + ('\n' if loop.last else ',') }}
  {%- endif -%}
{%- endfor %}
